@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');

/*eric css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;  /*不累加邊框與內距 rwd 甜甜*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: /*⻄文*/ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
    /*中文*/ "蘋方-繁", "PingFang TC", "Noto Sans TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 共用 */
img {
    display: block; /*本來是inline-block,會有空白間距*/
    width: 100%;
}

h1,h2,p,h4{    /*p內文 h4標註*/
	font-family: 'Noto Serif TC', serif;
	letter-spacing:  .12em;
    line-height: 1.8rem;
}

h3{   /*中文上方的英文小標*/
	font-family: 'Unna', serif;
	letter-spacing:  .12em;
	font-size: .9rem;
}

h1{
	font-weight: 400;
    font-size: 1.5rem;
}

h2{
	font-weight: 500;
    font-size: 1rem;
}

p{
	font-weight: 500;
    font-size: .9rem;
}
h4{
	font-weight: 500;
    font-size: .75rem;
}

/*-----------------------------------------------------------*/
/* 頁首區 */
#topbar{
	display: flex; /*flex有預設的各種屬性，包括水平*/
	padding: 15px 108px;
    background-color: #3C4935;
	justify-content:  space-between;
	

}

#topbar nav{
	
	display: flex;
	width: 100%;
	height: 50px; 
	justify-content:   space-between;
	align-items: center;
}


#topbar a {
    display: block;
    color: #fff;
    text-decoration: none;
	padding: 10px 20px;
}

#topbar li {
	display: inline-flex;
	justify-content:  space-around;
}


	.menu{
		 padding-right: 1%; 

		}

	.img_login{
		 padding-left: 15%
	
		}
.icon{
   justify-content: center;
   align-items: center;
}

/* 內容區  */
 /* image+課程簡介 */


.container{
  display:flex;
  text-align: left;
  width: 100%;
  height: 700px; 
  background-color: #b8b8b8;
  margin: 0;
}


 .img{
     display: flex; 
     justify-content: left;
     width: 60%;
     /*本來是inline-block,會有空白間距*/ 
     height: 700px;
     background-image: url('./img/course_item/intro_perfume.jpg');
     background-size: cover; /*覆蓋:自動拉伸圖片 並裁切多餘部分*/
     background-position: center;/*圖片在畫面置中縮放 (本來只切右邊)*/

  }

  .text{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    padding: 240px 180px 50px 100px;
  }


   /* 遮罩加輪播 */
    #marquee{
        background-color: #3C4935;
        margin: 10px 0;
    }

    #marquee img{
        width: 490px;
        height: 350px;  
    }
    /* 師資介紹  */
    #teacher{
        background-color: #DACFB8;
        width: 100%;
        height: 370px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #teacher .all{
        width: 88%; /*先改定值好了*/
        background-color: rgb(199, 199, 199);


    }